@if (loading) {
  <loading/>
}

@if (listing) {
  <div class="grid grid-cols-12 gap-5">
    <image-slider
      class="col-span-full md:col-span-8"
      [imageUrls]="imageUrls"
    />

    <listing-info-section
      class="col-span-full md:col-span-4"
      [listing]="listing"
    />

    <listing-description-section
      class="col-span-full md:col-span-8"
      [listing]="listing"
    />
  </div>
}

@if (isNotFound) {
  <not-found-error
    title="Listing not found"
    subTitle="This listing doesn't exist or may have been removed"
  />
}

@if (isServerError) {
  <server-error
    title="Something went wrong"
    subTitle="We couldn't load this listing. This is likely a temporary issue on our end."
    [retryCallBack]="retry"
  />
}
