@if (listing) {
  <vertical-spacing gap="5">
    <h1>{{ listing.title }}</h1>

    <h1>{{ listing.price }}</h1>

    <h1>{{ listing.category_name }}</h1>

    @if (pictureUrls.length) {
      <div class="flex gap-4">
        @for (pictureUrl of pictureUrls; track pictureUrl) {
          <img
            class="size-52"
            [src]="pictureUrl"
            alt="img"
          >
        }
      </div>
    }

    <panel>
      <p>{{ listing.description }}</p>
    </panel>
  </vertical-spacing>
}
