<div class="grid grid-cols-12 gap-2">
  @if (loading) {
    <loading/>
  }

  <combobox
    label="Category"
    class="col-span-full"
    [control]="getControl('category')"
    [categoryObjControl]="getControl('category_object')"
    [options]="carCategories"
  />

  <app-input
    label="Title"
    class="col-span-full md:col-span-6"
    [control]="getControl('title')"
  />

  <app-input
    label="Price"
    class="col-span-full md:col-span-6"
    type="number"
    [control]="getControl('price')"
  />

  <app-textarea
    label="Description"
    class="col-span-full"
    [control]="getControl('description')"
  />
</div>

<input
  (change)="onFileChange($event)"
  accept="image/*"
  type="file"
>

