<div class="grid grid-cols-12 gap-2">
  @if (loading) {
    <loading/>
  }

  <combobox
    label="Category"
    class="col-span-full"
    [control]="getListingFormControl('category')"
    [options]="carCategories"
  />

  <app-input
    label="Title"
    class="col-span-full md:col-span-6"
    [control]="getListingFormControl('title')"
  />

  <app-input
    label="Price"
    class="col-span-full md:col-span-6"
    type="number"
    [control]="getListingFormControl('price')"
  />

  <app-textarea
    label="Description"
    class="col-span-full"
    [control]="getListingFormControl('description')"
  />
</div>

