<div
  (keydown)="onKeyDown($event)"
  tabindex="0"
  class="border border-gray-300 p-3 bg-white rounded-lg cursor-pointer transition-all duration-150 group
          hover:shadow-xl hover:shadow-gray-300/30 hover:border-gray-400/60
          focus:shadow-xl focus:shadow-gray-300/30 focus:border-gray-400/60 focus:outline-none"
>
  <vertical-spacing gap="4">
    <div class="bg-gray-100 md:h-[250px] rounded-md flex justify-center items-center relative">
      @if (listingHasPicture) {
        @if (blobUrl) {
          <div class="overflow-hidden rounded-md w-full h-full">
            <img
              [src]="blobUrl"
              (load)="onLoad()"
              class="object-cover rounded-md  transition-transform duration-300 group-hover:scale-105 group-focus:scale-105"
              alt="image"
            >
          </div>
        } @else {
          <div class="absolute inset-0 animate-pulse bg-gray-300/90 rounded-md"></div>
        }
      } @else {
        <img
          src="no-image.svg"
          alt="no image"
          class="size-20"
          (load)="onLoad()"
        >

        @if (showSkeletonLoader) {
          <div class="absolute inset-0 animate-pulse bg-gray-300/90 rounded-md"></div>
        }
      }
    </div>

    <div>
      <div class="text-lg font-medium line-clamp-2 h-14">
        {{ listing.title }}
      </div>
      <div class="text-gray-400">
        {{ listing.price | currency:'USD':'symbol':'1.0-0' }}
      </div>
    </div>
  </vertical-spacing>
</div>
