<div
  (keydown)="handleKeyDown($event)"
  tabindex="0"
  class="border border-gray-300 p-3 bg-white rounded-lg cursor-pointer transition-all duration-150 group
          hover:shadow-xl hover:shadow-gray-300/30 hover:border-gray-400/60
          focus:shadow-xl focus:shadow-gray-300/30 focus:border-gray-400/60 focus:outline-none">
  <vertical-spacing gap="4">
    <div class="bg-gray-100 h-[250px] rounded-md flex justify-center items-center">
      @if (url !== '') {
        <div class="overflow-hidden rounded-md w-full h-full">
          <img
            [src]="url"
            class="object-cover rounded-md  transition-transform duration-300 group-hover:scale-105 group-focus:scale-105"
            alt="image"
          >
        </div>
      } @else {
        <svg-icon
          src="no-image.svg"
          class="size-20 inline-flex text-gray-400"
        />
      }
    </div>

    <div>
      <div class="text-lg font-medium">
        {{ listing.title }}
      </div>
      <div class="text-gray-400">
        {{ listing.price | currency:'USD':'symbol':'1.0-0' }}
      </div>
    </div>
  </vertical-spacing>
</div>
