<div class="relative">
  @if (isTextArea) {
    <textarea
      [formControl]="control"
      rows="3"
      class="peer w-full border-2 rounded-lg
           px-3 pt-6 pb-1.5 outline-none
           transition-all duration-200 focus:ring-4
           placeholder-transparent"
      [ngClass]="[isError ?
              'focus:border-red-500 focus:ring-red-500/30 border-red-500' :
              'focus:border-blue-500 focus:ring-blue-500/30 border-gray-300',
              disabled ?
                '!border-gray-200 cursor-not-allowed text-gray-300' :
                'text-gray-600'
              ]"
      placeholder=" "
    ></textarea>
  } @else {
    <input
      type="text"
      [formControl]="control"
      class="peer w-full border-2 rounded-lg
           px-3 pt-6 pb-1.5 outline-none
           transition-all duration-200 focus:ring-4
           placeholder-transparent"
      [ngClass]="[isError ?
              'focus:border-red-500 focus:ring-red-500/30 border-red-500' :
              'focus:border-blue-500 focus:ring-blue-500/30 border-gray-300',
              disabled ?
                '!border-gray-200 cursor-not-allowed text-gray-300' :
                'text-gray-600'
              ]"
      placeholder=" "
    >
  }

  <label
    class="absolute left-3 transition-all duration-200 pointer-events-none
           top-1 text-sm leading-6
           peer-focus:top-1 peer-focus:text-sm peer-focus:leading-6
           peer-placeholder-shown:text-base peer-placeholder-shown:leading-6"
    [ngClass]="[isError ?
                'peer-focus:text-red-500 peer-placeholder-shown:text-red-600' :
                'peer-focus:text-blue-500 peer-placeholder-shown:text-gray-600',
                isTextArea ?
                'peer-placeholder-shown:top-[calc(100%-42px)]' :
                'peer-placeholder-shown:top-6',
                disabled ?
                'peer-placeholder-shown:!text-gray-300 text-gray-300' :
                'text-gray-500'
                ]"
  >
    {{ label }}
  </label>
</div>
