<div class="fixed z-10 inset-0 bg-gray-900/40 w-full h-full flex justify-center items-center
            backdrop-blur-xs transition-opacity duration-300 opacity-0"
     (click)="close()"
     [ngClass]="open ? 'opacity-100' : 'pointer-events-none'"
>
  <div
    class="bg-white rounded-2xl w-full lg:w-[500px] p-5 transition-all duration-300 ease-out"
    [ngClass]="open ? 'scale-100' : 'scale-90'"
    (click)="$event.stopPropagation()"
  >
    @if (open) {
      <div
        cdkTrapFocus
        cdkTrapFocusAutoCapture
      >
        <vertical-spacing gap="8">
          <horizontal-spacing justify="between">
            <h1 class="text-3xl">{{ title }}</h1>

            @if (!title) {
              <ng-content select="[title]"/>
            }

            @if (hasCloseIcon) {
              <svg-icon
                tabindex="0"
                src="x.svg"
                class="inline-flex size-7 cursor-pointer hover:scale-125 text-gray-400/80 hover:text-gray-800 transition-all duration-200
                     focus:outline-none focus:text-gray-800 focus:scale-125"
                (click)="close()"
              />
            }
          </horizontal-spacing>

          <vertical-spacing gap="14">
            <ng-content/>

            <vertical-spacing
              items="end"
            >
              <horizontal-spacing gap="4">
                @if (hasCancelButton) {
                  <app-button
                    label="Cancel"
                    (click)="close()"
                  />
                }

                <ng-content
                  select="[submit-btn]"
                />
              </horizontal-spacing>
            </vertical-spacing>
          </vertical-spacing>
        </vertical-spacing>
      </div>
    }
  </div>
</div>
