<backdrop>
  <div
    class="bg-white rounded-3xl p-5 focus:outline-none"
    cdkTrapFocus
    (click)="$event.stopPropagation()"
    (focusin)="onFocusIn()"
    [cdkTrapFocusAutoCapture]="open"
    [class]="dialogPanelClass"
    [tabIndex]="panelTabIndex"
  >
    <vertical-spacing gap="8">
      <horizontal-spacing justify="between">

        @if (title) {
          <h1 class="text-3xl font-medium">{{ title }}</h1>
        } @else {
          <ng-content select="[title]"/>
        }

        @if (hasCloseIcon) {
          <close-icon-button
            class="ml-auto"
            (keydown.enter)="close()"
            (click)="close()"
          />
        }
      </horizontal-spacing>

      <vertical-spacing gap="14">
        <ng-content/>

        <vertical-spacing
          items="end"
        >
          <horizontal-spacing gap="4">
            @if (hasCancelButton) {
              <app-button
                label="Cancel"
                variant="Text"
                (click)="close()"
              />
            }

            <ng-content
              select="[submit-btn]"
            />
          </horizontal-spacing>
        </vertical-spacing>
      </vertical-spacing>
    </vertical-spacing>
  </div>
</backdrop>
