<panel>
  @if (imageUrls.length) {
    <div class="relative overflow-hidden w-full">
      <div
        class="flex md:h-[500px] transition-all duration-200"
        [style.transform]="translate"
      >
        @for (url of imageUrls; track url) {
          <image-slider-item
            #imageSliderItem
            class="shrink-0 w-full"
            [src]="url"
          />
        }
      </div>

      <image-slider-button
        direction="prev"
        (click)="previous()"
      />

      <image-slider-button
        direction="next"
        (click)="next()"
      />
    </div>
  }
</panel>
