<panel>
  @if (imageUrls.length) {
    <horizontal-spacing justify="center">
      <div class="relative size-[600px] overflow-hidden">
        <div
          class="flex transition-all duration-200"
          [style.transform]="translate"
        >
          @for (url of imageUrls; track url) {
            <image-slider-item
              #imageSliderItem
              class="shrink-0"
              [src]="url"
            />
          }
        </div>

        <image-slider-button
          direction="prev"
          (click)="previous()"
        />

        <image-slider-button
          direction="next"
          (click)="next()"
        />
      </div>
    </horizontal-spacing>
  }
</panel>
