<div
  tabindex="0"
  class="p-2 rounded-full flex justify-center items-center cursor-pointer focus:outline-none duration-200 transition-all
         hover:shadow-[0_14px_24px_-8px_rgba(59,130,246,0.4)] focus-visible:shadow-[0_14px_24px_-8px_rgba(59,130,246,0.4)]
         hover:bg-blue-50 focus-visible:bg-blue-50 hover:-translate-y-1.5 focus-visible:-translate-y-1.5
         border border-transparent hover:border-blue-800/10 focus-visible:border-blue-100 active:translate-0
">
  <svg-icon
    [src]="companySvgSrc"
  />
</div>
