<div
  tabindex="0"
  class="relative inline-flex cursor-pointer font-semibold text-blue-500 hover:text-blue-600 focus-within:outline-none translate-y-0 transition-transform duration-150 before:absolute before:left-0 before:-bottom-1
                 before:h-[2px] before:w-0 before:bg-blue-600 before:block before:transition-all before:duration-150
                 hover:-translate-y-0.5 hover:before:w-full focus-within:-translate-y-0.5 focus-within:before:w-full focus-within:text-blue-600"
  [class]="class"
>
  {{ text }}
</div>
