<vertical-spacing gap="1">
  <password-hint
    hint="8–20 characters long"
    [meetsRequirement]="hasCorrectLength"
    [firstSubmit]="firstSubmit"
  />

  <password-hint
    hint="At least 1 uppercase letter"
    [meetsRequirement]="hasUpperCaseCharacter"
    [firstSubmit]="firstSubmit"
  />

  <password-hint
    hint="At least 1 lowercase letter"
    [meetsRequirement]="hasLowerCaseCharacter"
    [firstSubmit]="firstSubmit"
  />

  <password-hint
    hint="At least 1 number"
    [meetsRequirement]="hasNumber"
    [firstSubmit]="firstSubmit"
  />

  <password-hint
    hint="At least 1 special character"
    [meetsRequirement]="hasSpecialCharacter"
    [firstSubmit]="firstSubmit"
  />
</vertical-spacing>
