<vertical-spacing
  gap="14"
  items="center"
>
  <vertical-spacing
    gap="0"
    items="center"
  >
    <vertical-spacing
      gap="4"
      items="center"
    >
      <span class="text-blue-500 font-bold">404</span>

      <h1 class="font-bold text-5xl">Page not found</h1>

      <p class="text-gray-400">Sorry, we couldn’t find the page you’re looking for.</p>
    </vertical-spacing>
  </vertical-spacing>

  <button
    routerLink="/"
    class="text-blue-950 cursor-pointer flex items-center gap-1 font-medium focus:outline-none
            relative translate-y-0 transition-transform duration-150 before:absolute before:left-0 before:-bottom-1
            before:h-[2px] before:w-0 before:bg-blue-950 before:block before:transition-all before:duration-150
            hover:-translate-y-0.5 hover:before:w-full focus:-translate-y-0.5 focus:before:w-full"
  >
    <svg-icon
      src="arrow-left.svg"
      class="inline-flex size-5"
    />
    <span>
      Back to home
    </span>
  </button>
</vertical-spacing>
