<div class="grid grid-cols-12 gap-4">

  @if (loading) {
    <loading/>
  }

  @if (listings.length) {
    @for (listing of listings; track listing.id) {
      <listing-card
        [routerLink]="['/listing', listing.id]"
        [listing]="listing"
        tabindex="-1"
        class="col-span-full md:col-span-6 lg:col-span-4"
      />
    }
  } @else {
    <div class="col-span-full flex justify-center">
      <vertical-spacing
        gap="5"
        items="center"
      >
        @if (errorOccurred) {
          <svg-icon
            src="db-off.svg"
            class="inline-flex size-40 text-red-300"
          />
        } @else {
          <svg-icon
            src="magnifying-glass-minus.svg"
            class="inline-flex size-40 text-gray-300"
          />

          <h1 class="text-xl text-gray-700">
            No Listing found
          </h1>
        }

        @if (errorOccurred) {
          <p class="text-red-950">There was a problem with the server. Please try again later</p>
        }
      </vertical-spacing>
    </div>
  }
</div>

<auth-form-dialog/>
