<div class="grid grid-cols-12 gap-4">

  @if (loading) {
    <loading/>
  }

  @if (listings.length) {
    @for (listing of listings; track listing.id) {
      <listing-card
        [routerLink]="['/listing', listing.id]"
        [listing]="listing"
        tabindex="-1"
        class="col-span-full md:col-span-6 lg:col-span-4"
      />
    }
  } @else {
    <div class="col-span-full flex justify-center">
      @if (errorOccurred) {
        <server-error
          title="Something went wrong"
          subTitle="We couldn't load the listings. This is likely a temporary issue on our end."
          [retryCallBack]="retry"
        />
      } @else {
        <not-found-error
          title="No listings found"
          subTitle="There are no listings available at the moment"
        />
      }
    </div>
  }
</div>

<auth-form-dialog/>
