<input
  #fileInput
  (change)="onFileChange($event)"
  multiple
  accept="image/*"
  class="hidden"
  type="file"
>

<div class="grid grid-cols-12 gap-5 md:w-4/6">

  <image-slot
    [index]="0"
    (click)="fileInput.click()"
    (openFIlePicker)="fileInput.click()"
    [control]="control"
    class="aspect-square col-span-full md:col-span-4"
  />

  <image-slot
    [index]="1"
    (click)="fileInput.click()"
    (openFIlePicker)="fileInput.click()"
    [control]="control"
    class="aspect-square col-span-full md:col-span-4"
  />

  <image-slot
    [index]="2"
    (click)="fileInput.click()"
    (openFIlePicker)="fileInput.click()"
    [control]="control"
    class="aspect-square col-span-full md:col-span-4"
  />

  <image-slot
    [index]="3"
    (click)="fileInput.click()"
    (openFIlePicker)="fileInput.click()"
    [control]="control"
    class="aspect-square col-span-full md:col-span-4"
  />

  <image-slot
    [index]="4"
    (click)="fileInput.click()"
    (openFIlePicker)="fileInput.click()"
    [control]="control"
    class="aspect-square col-span-full md:col-span-4"
  />

  <image-slot
    [index]="5"
    (click)="fileInput.click()"
    (openFIlePicker)="fileInput.click()"
    [control]="control"
    class="aspect-square col-span-full md:col-span-4"
  />

</div>
