<vertical-spacing gap="1" items="center">
  <h1 class="text-3xl leading-8 font-medium">
    Create Account
  </h1>

  <p class="leading-5 text-gray-400">
    Register with your social account
  </p>
</vertical-spacing>

<div class="mt-7">
  <oauth-button-group/>
</div>

<div class="mt-14 mb-4">
  <divider-with-text
    text="Or with you’re email"
  />
</div>

<vertical-spacing gap="5">
  <app-input
    label="E-mail"
    type="email"
    cdkFocusInitial
    [control]="getControl('email')"
  />

  <app-input
    label="Password"
    type="password"
    [control]="getControl('password')"
  />

  <password-hints/>

</vertical-spacing>

<div class="mt-12">
  <vertical-spacing gap="3" items="center">
    <app-button
      label="Sign Up"
      class="w-full"
    />

    <div class="text-gray-500">
      <span class="mr-1.5">Have an account ?</span>
      <reveal-underline
        text="Sign In"
        (keydown.enter)="onSignInEnterKeyDow()"
        (click)="onSignInEnterKeyDow()"
      />
    </div>
  </vertical-spacing>
</div>
