<dialog-builder
  [hasCancelButton]="false"
  dialogRegistryId="auth-form"
  dialogPanelClass="w-full sm:w-[400px] overflow-x-hidden"
>
  @if (isLogIn) {
    <login-form
      #login
      animate.enter="enter-animation"
      (goToRegister)="goToRegister()"
      (goToResetPassword)="goToPasswordReset()"
    />
  }

  @if (isRegister) {
    <register-form
      #register
      animate.enter="enter-animation"
      (goToLogIn)="goToLogIn()"
    />
  }

<!--  @if (isPasswordReset) {-->
<!--    <reset-password-form animate.enter="enter-animation" />-->
<!--  }-->
</dialog-builder>
