<div
  #image_slot
  tabindex="0"
  class="relative group w-full h-full rounded-lg focus:outline-0"
  (keydown)="onKayDown($event)"
  [ngClass]="[isFirstWithoutImag ?
             'border-blue-100/90 hover:border-blue-800/20 bg-blue-100/60 hover:bg-blue-100/90 text-blue-400 ' +
              'hover:text-blue-950 focus:border-blue-200/90 focus:bg-blue-100/90 focus:text-blue-950' :
             'border-gray-100 hover:border-gray-300/90 bg-gray-100 focus:border-gray-300/90',
             blobUrl ?
             'relative' :
             'flex items-center justify-center cursor-pointer border-2 transition-all duration-150'
             ]"
>
  @if (blobUrl) {
    <img
      [src]="blobUrl"
      alt="picture"
      class="w-full h-full object-cover rounded-lg"
    >
    <div class="absolute inset-0 rounded-lg bg-black/50 opacity-0 group-hover:opacity-100 group-focus:opacity-100
                transition-opacity duration-150 cursor-pointer flex justify-center items-center">
      <div
        class="focus:outline-0 p-2 bg-white rounded-full flex justify-center items-center hover:scale-125 group-focus:scale-125 transition-all duration-150"
        (click)="$event.stopPropagation(); removeImage()"
      >
        <svg-icon
          src="bin.svg"
          class="inline-flex size-6"
        />
      </div>
    </div>
    @if (isFirstWithImage) {
      <div class="absolute bottom-0 left-0 py-2 px-4 bg-blue-500/90 text-white rounded-tr-lg rounded-bl-lg font-medium">
        Main
      </div>
    }
  } @else {
    @if (isFirstWithoutImag) {
      <div
        class="relative font-medium translate-y-0 transition-transform duration-150 before:absolute before:left-0 before:-bottom-1
                 before:h-[2px] before:w-0 before:bg-blue-950 before:block before:transition-all before:duration-150
                 group-hover:-translate-y-0.5 group-hover:before:w-full group-focus:-translate-y-0.5 group-focus:before:w-full"
      >
        + Add Picture
      </div>
    } @else {
      <svg-icon
        src="camera.svg"
        class="inline-flex size-6 text-gray-400 group-hover:text-gray-600 group-hover:scale-125 transition-all duration-150
              group-focus:text-gray-600 group-focus:scale-125"
      />
    }
  }
</div>

