@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@tailwind utilities;

@theme {
  --font-charmonman: "Charmonman", sans-serif;
}

body {
  font-family: 'Montserrat', ui-sans-serif, system-ui, sans-serif;
}
